**/node_modules/
**/.build/
**/pnpm-lock.yaml
**/.nx/
**/.agents/
**/storybook/storybook-static/
**/dash/app/build
**/site/.next
**/site/out
**/appviews/dist
**/admin/dist
**/appviews/src/main.tsx
**/next-env.d.ts
